<table class = "table table-bordered">
  <thead>
    <th id="start" scope="col">Date</th>
    <th id="end" scope="col"></th>
    <th id="duration" scope="col">Duration</th>
    <th id="delete" scope = "col"></th>
  </thead>
  <tbody>
    <tr *ngFor="let log of timeLogs">
      <td headers="start">
        <div>{{log.start | date:'mediumDate'}}</div>
        <div>{{log.start | date:'mediumTime'}}</div>
      </td>
      <td headers="end">
        <div>{{log.end | date:'mediumTime'}}</div>
      </td>
      <td headers="duration">
        <div>{{log.duration | duration }}</div>
      </td>
      <td headers="delete">
        <button (click)="deleteTimeLog(log)">X</button>
      </td>
    </tr>
  </tbody>
</table>