<table>
  <thead>
    <th id="start">Date</th>
    <th id="end"></th>
    <th id="duration">Duration</th>
  </thead>
  <tbody>
    <tr *ngFor="let log of timeLogs">
      <td headers="start">{{log.start | date:'mediumDate'}}
        <div>{{log.start | date:'mediumTime'}}</div>
      </td>
      <td headers="end">
        <div>{{log.end | date:'mediumTime'}}</div>
      </td>
      <td headers="duration">{{log.duration.toString()}}</td>
      <td><button (click)="deleteTimeLog(log)">X</button></td>
    </tr>
  </tbody>
</table>