<table class="table table-hover table-bordered">
  <thead>
    <tr>
    <th id="start" scope="col">Date</th>
    <th id="end" scope="col"></th>
    <th id="duration" scope="col">Duration</th>
    <th id="delete" scope = "col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of timeLogs">
      <td headers="start" id="start">
        <div><strong>{{log.start | date:'mediumDate'}}</strong></div>
        <div>{{log.start | date:'mediumTime'}}</div>
      </td>
      <td headers="end" id="end">
        <div>{{log.end | date:'mediumTime'}}</div>
      </td>
      <td headers="duration">
        <div>{{log.duration | duration }}</div>
      </td>
      <td headers="delete">
        <button type="button" class="btn btn-default" (click)="deleteTimeLog(log)"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      </td>
    </tr>
  </tbody>
</table>