table {
    tbody {
        tr {
            td {
                vertical-align: bottom;
                
                }

        }
            


        }
    #start {
        border-right-width: 0px;
    }
    #end {
        border-left-width: 0px;
    }
    }
