<div *ngIf="!project">
<app-project-select (project$)="setProject($event)"></app-project-select>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group btn-group-md">
      <button class="btn"
              (click)="toggleTimer()"
              [disabled]='play'>
        <span class="glyphicon glyphicon-play"
              aria-hidden="true">
        </span>
      </button>
      <button class="btn"
              (click)="toggleTimer()"
              [disabled]='!play'>
        <span class="glyphicon glyphicon-stop"
              aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="panel-body">{{ticks | duration}}</div>
  <div class="panel-footer">
    <button class="btn btn-sm"
            (click)="saveTime()">SAVE</button>
  </div>
</div>