<div class="wrapper">
    <nav id="sidebar"
         class="navbar-left">
        <ul class="nav nav-stacked">
            <li [routerLinkActive]="['active']">
                <a class="nav-link"
                   [routerLink]="['/dashboard']">
                   <span class="glyphicon glyphicon-th-large"
                   aria-hidden="true">
             </span></a>
            </li>
            <li [routerLinkActive]="['active']">
                <a class="nav-link"
                   [routerLink]="['/timer']">
                    <span class="glyphicon glyphicon-time"
                          aria-hidden="true">
                    </span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                    <a class="nav-link"
                       [routerLink]="['/projects']">
                        <span class="glyphicon glyphicon-folder-close"
                              aria-hidden="true">
                        </span>
                    </a>
                </li>
        </ul>
    </nav>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>