<div class="wrapper">
    <nav id="sidebar" class="navbar-left">
        <ul class="nav nav-stacked">
            <li [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/timer']">Timer</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/logs']">Logs</a>
            </li>
        </ul>
    </nav>
    <div id="content">
    <router-outlet></router-outlet>
</div>
</div>