<div class="container">
  <div *ngFor="let project of projects">
    <a [routerLink]="['/project', project._id]">
      <h5 class="text-capitalize">{{project.name}}</h5>
    </a>
    <small>{{project.createdAt | date:'mediumDate'}}</small>
    <button type="button"
            class="btn btn-sm"
            (click)="deleteProject(project)">
      <span class="glyphicon glyphicon-trash"
            aria-hidden="true"></span>
    </button>
  </div>
</div>
<div>
  <app-project-add></app-project-add>
</div>