<button type="button"
        class="btn btn-primary btn-lg"
        data-toggle="modal"
        data-target="#add-project-modal">
  Add
</button>

<div class="modal fade"
     id="add-project-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title"
          id="myModalLabel">New Project</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="projectForm" (ngSubmit)="addProject()" novalidate>
        <input type="text" formControlName="name" class="form-control">
        <div *ngIf="name.invalid">
          <div *ngIf="name.errors['projectExists']" class="has-error">Project exists</div>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>